<div id="content">
  <div class="ui container">
    <div class="ui center aligned segment">
      <h2 class="huge inverted header">
        CITIZEN DATA FOR ELECTORAL COMMISSION
      </h2>
    </div>
    <div class="ui center aligned container">
      <div class="ui three column stackable center aligned grid">
        <div class="column">
          <div class="ui segment">
              <h4 class="header" style="text-decoration: underline;">name</h4>
              <h1><%= @electoral_citizen.first_name%> <%= @electoral_citizen.last_name%></h1>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <h4 class="header" style="text-decoration: underline;">Description</h4>
          <h1>
            <%= @electoral_citizen.description%>
          </h1>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
